{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
  {% if needs_review %}
  <li>
    <a href="{% url 'admin:pending-user-approve' original.id %}" class="approve" style="background-color:#70BF2B;">Approve</a>
  </li>
  <li>
    <a href="{% url 'admin:pending-user-reject' original.id %}" class="reject" style="background-color:#CC3434;">Reject</a>
  </li>
  {% endif %}
  {% if user_status == "B" %}
  <li>
    <a href="{% url 'admin:pending-user-unban' original.id %}" class="approve" style="background-color:#70BF2B;">Unban</a>
  </li>
  {% else %}
  <li>
    <a href="{% url 'admin:pending-user-ban' original.id %}" class="reject" style="background-color:#CC3434;">Ban</a>
  </li>
  {% endif %}
{% endblock %}
{% block field_sets %}
  <div class="container">
    <div id="user_info">
      {{ block.super }}
    </div>
    <div id="profile">
      {% if id_photo %}
      <h2 >Tufts ID</h2>
      <img src="{{ id_photo }}" />
      {% endif %}
      {% for profile in profiles %}
        <h2>Profile</h2>
        <p>{{ profile.bio }}</p>
      {% endfor %}
    </div>
    <div id="photo_sets">
        {% if pending_photos %}
            <h2> Pending Photos </h2>
            <div id="pending" class="photo_container">
                {% for img in pending_photos %}
                    <img src="{{img}}" class = "profile_photo"/>
                {% endfor %}
            </div>
        {% endif %}
        {% if approved_photos %}
            <h2> Approved Photos </h2>
            <div id="approved" class="photo_container">
                {% for img in approved_photos %}
                    <img src="{{img}}" class = "profile_photo"/>
                {% endfor %}
            </div>
        {% endif %}
    </div>
  </div>
{% endblock %}