packages:
  yum:
    postgresql-devel: []
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: jumboSmash.wsgi:application
container_commands:
  00_init:
    command: "utils/deploy/00_init.sh"
    cwd: /var/app/staging
  01_migrations:
    command: "utils/deploy/01_migrations.sh"
    cwd: /var/app/staging
  02_collectstatic:
    command: "utils/deploy/02_collectstatic.sh"
    cwd: /var/app/staging
