#review {
  display: flex
}

h2 {
    text-align: center;
}

.profile {
  margin: 10px;
  flex-basis: 25%;
  flex-grow: 1;
}


.photo_set img {
  display: inline-block;
  vertical-align: middle;
  max-height: 150px;
  margin:5px;
  padding: 4px;
  opacity: 0.5;
}

img.added {
    border: solid limegreen 3px;
    padding:1px;
    opacity: 1.0;
}

img.deleted {
    border: solid maroon 3px;
    padding: 1px;
    opacity: 0.25;
}

.approve {
  background-color: #70bf2b;
}

.reject {
  background-color: #CC3434;
}
