.container {
  display: flex
}
.user-info {
  width: 25%;
}

.user-info select {
  width: 100%;
}

.user-info .form-row {
  padding-top: 0px;
  border: none;
}

.profile {
  width: 25%;
}

.profile img {
  display: block;
  max-width: 100%;
  max-height: 200px;
  padding-bottom: 15px;
}

.photo_set {
  display: block;
  width: 50%;
}

.photo_set td {
  border: none;
  padding: 0px;
}

.photo_set img {
  display: inline;
  vertical-align: middle;
  padding: 0px 5px 5px 0px;
  max-width: 150px;
  max-height: 150px;
}

.approve {
  background-color: #70bf2b;
}

.reject {
  background-color: #CC3434;
}
