{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
Do we want suspend user or something up here?
{% endblock %}

{% block field_sets %}

<div id="user_info">
    <h2 class="first-name">{% if user.preferred_name %}
    "{{user.preferred_name}}""
    {% else %}
    {{user.first_name}}
    {% endif %}
    </h2>
    <h3 class="last-name">
    {{user.last_name}}
    </h3>
    <h3 class="{{user.status}}">
    {{user.get_status_display}}
    </h3>
    id: {{user.id}}
</div>
<img src="{{ user.id_photo }}" alt="Cannot find ID" id="id-card"/>
<div id="pending" class="profile review">
    <h2> Pending</h2>
    <div class="photo_set">
        {% for img in pending_photos %}
        <img src="{{img}}" class = "photo pending {% if img not in approved_photos %}added{% endif %}"/>
        {% endfor %}
    </div>
    <div class="bio">
        {% autoescape off %}
        {{pending_bio}}
        {% endautoescape %}
    </div>
</div>
<div id="submit-bar">
    <a href="{% url 'admin:pending-profile-reject' original.id %}" class="reject">Reject</a>
    {% if user.status == "I" %}
        <a href="{% url 'admin:pending-profile-approve-user-activate' original.id %}" class="approve">Approve and Activate</a>
    {% else %}
        <a href="{% url 'admin:pending-profile-approve' original.id %}" class="approve">Approve</a>
    {% endif %}
</div>
{% if approved_profile %}
<div id="approved" class="profile review">
    <h2> Approved </h2>
    <div class="photo_set">
        {% for img in approved_photos %}
        <img src="{{img}}" class = "photo pending {% if img not in pending_photos %}deleted{% endif %}"/>
        {% endfor %}
    </div>
    <div class="bio">
        {% autoescape off %}
        {{approved_bio}}
        {% endautoescape %}
    </div>
</div>
{% endif %}
{% endblock %}

{% block submit_buttons_bottom %}
{% endblock %}