{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
{% if needs_review %}
<li>
    <a href="{% url 'admin:pending-user-approve' original.id %}" class="approve" style="background-color:#70BF2B;">Approve</a>
</li>
<li>
    <a href="{% url 'admin:pending-user-reject' original.id %}" class="reject" style="background-color:#CC3434;">Reject</a>
</li>
{% endif %}

{% endblock %}

{% block field_sets %}

<div id="user_info">
    {% if user.preferred_name %}
    "{{user.preferred_name}}""
    {% else %}
    {{user.first_name}}
    {% endif %}
    {{user.last_name}}
    {{user.get_status_display}}

    <img src="{{ id_photo }}" alt="Cannot find ID" id="id-card"/>
</div>
<div id="review">
    {% if approved_profile %}
    <div id="approved" class="profile review">
        <h2> Approved </h2>
        <div class="photo_set">
            {% for img in approved_photos %}
            <img src="{{img}}" class = "photo pending {% if img not in pending_photos %}deleted{% endif %}"/>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div id="pending" class="profile review">
        <h2> Pending</h2>
        <div class="photo_set">
            {% for img in pending_photos %}
            <img src="{{img}}" class = "photo pending {% if img not in approved_photos %}added{% endif %}"/>
            {% endfor %}
        </div>
    </div>
    {% autoescape off %}
    {{text_diff}}
    {% endautoescape %}
</div>
{% endblock %}

{% block submit_buttons_bottom %}
Custom buttons here
{% endblock %}